.card-title-message {
    color: #2ca691;
    font-size: 16px;
}

.fz-36 {
    font-size: 36px;
}

.fz-16 {
    font-size: 16px;
}

.color-ijo {
    color: #2ca691;
}

.bg-ijo {
    background-color: #2ca691;
}

.card-text-message {
    color: #667085;
    font-size: 16px;
}
